.notification_area{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 10px;
}

li{
    list-style-type: none;
}

.notification_entry{
    padding: 5px 10px;
    font-size: 12px;
    background: #1d9b53;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
}